<main id="imgBg">
    <h2 class="sectionTitle">PathfinderMaker: Forgia la tua Leggenda!</h2>
    <div class="d-flex flex-column align-items-center" >
        <p class="sectionText">
            Un mondo di avventura ti aspetta, ma ha bisogno che tu sia l'eroe della storia! <br />
            Qui troverai tutto il necessario per creare un nuovo personaggio e tutti gli strumenti necessari per sopravvivere in un mondo pieno di mostri mortali, cattivi nefasti e favolosi tesori!  <br />
            La prima pagina della tua fantastica avventura inizia qui...
        </p>
        <div>
            <p class="welcome">Sei nuovo nel mondo di Pathfinder?<a href="@Url.Action("Home","Guida", new { area = "" })">Entra a farne parte ora!</a></p>
            <p class="welcome">Fai già parte di questo mondo? <a href="@Url.Action("LoginOrRegister","Home", new { area = "" })">Accedi ora!</a></p>
        </div>       
    </div>
</main>