
@{
    ViewBag.Title = "NonDisponibile";
}
<main>
    <div id="notAvaible">
        <h2>Opsss...</h2>
        <p>Al momento questa sezione non è disponibile.
        <br />
        Il sito è in continuo aggiornamento, perciò anche questa sezione verrà resa disponibile, non appena sarà pronta!</p>
    </div>
</main>
